
body {
     background-color: rgb(229, 224, 230);
     margin: 0;
     padding: 0;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
     vertical-align: middle;
     padding-top: 10px;
     background-image:linear-gradient(rgb(25, 7, 41), rgb(232, 203, 249));
     border-bottom: 2px static rgb(25, 7, 41);
}

#heading {
     color: white;
     text-shadow: 3px 3px 3px rgb(23, 22, 24);
     font-size: 40px;
     text-align: center;
}

.timer {
     font-size: 30px;
     color: rgb(255, 255, 255);
     padding: 5px 10px 5px 10px;
     background-color: rgb(25, 7, 41);
     border-radius: 10px;
     text-align: center;
     border: 2px solid rgb(250, 244, 255);
     box-shadow: 0px 0px 5px 2px rgb(71, 68, 74);
     vertical-align: bottom;
}

#timer {
     margin-bottom: 30px;
     text-align: center;
}

#viewHighScores {
     font-size: 20px;
     margin-top: -60px;
     padding: 0 20px 20px 0;
     text-align: right;
}

h1 {
     text-align: center;
     margin-top: 50px 0 50px 0;
     width: 100%;
}

main {
     align-items: center;
     background-color: rgb(249, 238, 255);
     border: 3px solid rgb(25, 7, 41);
     height: fit-content;
     padding: 25px 25px 25px 25px;
     margin: 0px 50px 0px 50px;
}

#challenge {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     vertical-align: middle;
     margin: 0px 50px 0px 50px;
}

#message {
     text-align: center;
}

.startGm {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     font-size: 15px;
     color: rgb(255, 255, 255);
     padding: 10px 5px 10px 5px;
     background-color: rgb(25, 7, 41);
     border-color: 3px solid rgb(25, 7, 41);
     border-radius: 10px;
     text-align: center;
     cursor: pointer;
     width: 135px;
     margin-top: 10px;
}

.startGm:hover {
     background-color: rgb(255, 255, 255);
     color: rgb(25, 7, 41);
}

#startGm {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.questions {
     font-size: 25px;
     margin: 75px 200px 0px 140px;
     font-weight: bold;
     border-bottom: 3px solid rgb(67, 58, 74);
     padding-bottom: 20px;
}

.correctIncorrect {
     font-size: 25px;
     text-align: center; 
     margin-top: 250px;
     font-weight: bold;

}

.answerBtn {
     font-size: 15px;
     font-weight: bold;
     color: rgb(255, 255, 255);
     padding: 7px 15px 7px 15px;
     background-color: rgb(25, 7, 41);
     border-radius: 5px;
     border: 1px solid rgb(25, 7, 41);
     text-align: center;
     max-width: fit-content;
     cursor: pointer;
     margin: 15px 15px 15px 100px;
}

.answerBtn:hover {
     background-color: rgb(244, 225, 255);
     color: rgb(25, 7, 41);
}

.answerList {
     display: flex;
     flex-direction: column;
}

#assessment {
     text-align: center;
     margin: 75px 200px 15px 200px;
     font-size: 30px;
     padding-bottom: 20px;
     border-bottom: 3px solid rgb(67, 58, 74);
}

#gameOver {
     margin-top: 50px;
     text-align: center;
}

#name {
     text-align: center;
     margin-top: 40px;
     line-break: 5px;
}

#score {
     margin: 5px;
}

#saveBtn {
     margin-top: 30px;
}

#nameInput {
     margin-left: 5px;
}

#highScores {
     margin-left: 50px;
     margin-top: 50px;
}
#scoreNameList {
     margin-left: 25px;
     line-height: 25px;
}

#home {
     font-size: 15px;
     color: rgb(255, 255, 255);
     padding: 5px 10px 5px 10px;
     position: absolute;
     top: 600px;
     left: 685px;
     background-color: rgb(25, 7, 41);
     border-color: 3px solid rgb(25, 7, 41);
     border-radius: 10px;
     text-align: center;
     cursor: pointer;
}

footer {
     text-align: center;
     color:rgb(25, 7, 41);
     margin: 0px 25px 0px 25px;
}
